<div class="container">
    <h1>REGISTRATION</h1>
    <pre></pre>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-6">
      <div class="form-group">
        <input formControlName="name" type="text" name="name" class="form-control" placeholder="Name">
      </div>
      <pre></pre>
      <div class="form-group">
        <input formControlName="email" type="email" name="email" class="form-control" placeholder="Email">
      </div>
      <pre></pre>
      <pre></pre>
      <button class="btn btn-primary" type="submit">Join the game</button>
    </form>
</div>
<img src="assets/pictures/mushroom.jpg" alt="mushroom" class="mushroom">
<img src="assets/pictures/goomba.jpg" alt="goomba" class="goomba">
<img src="assets/pictures/star.jpg" alt="star" class="star">
<img src="assets/pictures/heart.jpg" alt="heart" class="heart">
<img src="assets/pictures/mario.jpg" alt="mario" class="mario">
<img src="assets/pictures/boo.jpg" alt="boo" class="boo">
<img src="assets/pictures/potion.jpg" alt="potion" class="potion">
<img src="assets/pictures/poire.jpg" alt="poire" class="poire">
<img src="assets/pictures/baby-luigi.jpg" alt="baby-luigi" class="baby-luigi">
<img src="assets/pictures/yellow-luigi.jpg" alt="yellow-luigi" class="yellow-luigi">
<img src="assets/pictures/waluigi.jpg" alt="waluigi" class="waluigi">
<img src="assets/pictures/grey-luigi.jpg" alt="grey-luigi" class="grey-luigi">
<img src="assets/pictures/cartoon.jpg" alt="cartoon" class="cartoon">
<img src="assets/pictures/smiley.jpg" alt="smiley" class="smiley">
<img src="assets/pictures/watermelon.jpg" alt="watermelon" class="watermelon">
<img src="assets/pictures/flappy.jpg" alt="flappy" class="flappy">
<img src="assets/pictures/hamburger.jpg" alt="hamburger" class="hamburger">
<img src="assets/pictures/kirby.jpg" alt="kirby" class="kirby">
<img src="assets/pictures/sprite.jpg" alt="sprite" class="sprite">
<img src="assets/pictures/angry.jpg" alt="angry" class="angry">
<img src="assets/pictures/pacman.jpg" alt="pacman" class="pacman">
<img src="assets/pictures/sword.jpg" alt="sword" class="sword">
